<div class="garage-details-container">
  <div class="garage-header">
    <button mat-raised-button color="primary" routerLink="/garages">חזרה</button>
    <button mat-raised-button color="primary" [routerLink]="['/garages', garage.id, 'edit']" *ngIf="garage">עדכון</button>
    <h1>מידע על מוסך</h1>
  </div>
  <table class="garage-details-table">
    <tr>
      <td>{{ garage?.id }}</td>
      <th>מזהה</th>
    </tr>
    <tr>
      <td>{{ garage?.shem_mosah }}</td>
      <th>שם</th>
    </tr>
    <tr>
      <td>{{ garage?.sug_mosah }}</td>
      <th>קוד</th>
    </tr>
    <tr>
      <td>{{ garage?.ktovet }}, {{ garage?.yishuv }}</td>
      <th>כתובת</th>
    </tr>
    <tr>
      <td>{{ garage?.mikud }}</td>
      <th>מיקוד</th>
    </tr>
    <tr>
      <td>{{ garage?.telephone }}</td>
      <th>טלפון</th>
    </tr>
    <tr>
      <td>{{ garage?.miktzoa }}</td>
      <th>מקצוע</th>
    </tr>
    <tr>
      <td>{{ garage?.cod_miktzoa }}</td>
      <th>קוד מקצוע</th>
    </tr>
    <tr>
      <td>{{ garage?.menahel_miktzoa }}</td>
      <th>מנהל</th>
    </tr>
    <tr>
      <td>{{ garage?.rasham_havarot }}</td>
      <th>רשם חברות</th>
    </tr>
    <tr>
      <td>{{ garage?.TESTIME }}</td>
      <th>תאריך בדיקה</th>
    </tr>
  </table>
</div>
